$border-radius: 4px;
$box-shadow: 6px 8px 42px 1px rgba(0, 0, 0, .15);
$dark-highlight: #38f;
$light-highlight: #e9f4f7;
$light-grey: #f0f0f0;

@mixin calculator-row {
    display: flex;
    justify-content: space-between;
    margin: 3px 0 0 0;
    padding: 10px 0 13px 13px;
    border-bottom: 1px solid #e6e6e6;

    &__label {
        color: #555;
    }

    &__input {
        flex-basis: 180px;
    }

    &__separator,
    &__value-label {
        float: left;
        color: #333;
    }

    &__separator {
        margin: 0 1px;
    }

    &__value-label {
        margin: 0 7px 0 4px;
    }

    &:last-child {
        border-bottom: 0;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}

.calculator {
    width: 280px;
    margin: 20px auto;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 13px;
        background-color: #e6e6e6;
        color: #999;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    &__header div {
        margin-top: 2px;
    }

    &__header button {
        padding: 4px;
        color: #999;
        border: 0;
        border-radius: 3px;
        background-color: $light-grey;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:active,
        &:hover {
            color: $dark-highlight;
            background-color: $light-highlight;
        }
    }
}
